[Desktop Entry]
Name=Stop
Encoding=UTF-8
Exec=sh -c "disable_ipv6.sh;${SHELL:-bash}"
StartupNotify=false
Terminal=true
Type=Application
Categories=1.IPv6;
