[Desktop Entry]
Name=pupy
Encoding=UTF-8
Exec=sh -c "pupy -h;${SHELL:-bash}"
StartupNotify=false
Terminal=true
Type=Application
Categories=0.MultiOS-Backdoor;
